<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"  />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">

        {% endblock %}
    </head>
    <!-- MENU START -->
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == true %}
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <!-- <a class="navbar-brand" href="#">
                      <img id="logo_nav" src="img/logo forme.png" alt=""></a> -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('fos_user_profile_show') }}"> <span class="sr-only"></span>{{ app.user.username }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Disconnect</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        {% else %}
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item active">
                                <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/register/">Register</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        {% endif %}
        <!-- MENU END -->
    <body>
        {% block body %}
        <div class="container">
          <!-- <img id="logo" src="img/logo DME.png" alt="Deviens mon écolo"> -->
          <img id="logo" src="img/logo forme.png" alt="Deviens mon écolo">
          <img id="logo2" src="img/logo texte.png" alt="Deviens mon écolo">
          <h2>Bienvenu sur la seule plateforme de parrainage sur l'écologie</h2>
          <P>Vous voulez adopter un mode de vie plus sain et plus respectueux notre planète mais ne savez pas par où commencer, faites-vous parrainer par un personne expérimenté</P>
          <P>Vous êtes un pro de l'écologie et souhaitez partager votre expérience, parrainez un novice</P>
        </div>
        {% endblock %}
        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.0.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
