{% extends 'base.html.twig' %}

{% block body %}
    <body>

    <form action="">
    <div class="container">
        <div class="inner">

            <h1>How much do you think you know about stuff?</h1>
            <h2>Who discovered America?</h2>
            <ul class="simpleList">
                <li class="simpleListAnswer correct">
                    <input type="checkbox" value="{{ number }}">
                    <span class="fa fa-square-o"></span>
                    <span class="simpleListText" >Christopher Columbus</span>
                </li>

                <li class="simpleListAnswer">
                    <input type="checkbox">
                    <span class="fa fa-square-o"></span>
                    <span class="simpleListText">My grandma</span>
                </li>
                <li class="simpleListAnswer">
                    <input type="checkbox">
                    <span class="fa fa-square-o"></span>
                    <span class="simpleListText">Yes,please</span>
                </li>
                <li class="simpleListAnswer">
                    <input type="checkbox">
                    <span class="fa fa-square-o"></span>
                    <span class="simpleListText">Who's this on the phone again?</span>
                </li>
            </ul><!--end simpleList-->

            <h2>Who discovered America?</h2>
            <ul class="simpleList">
                <li class="simpleListAnswer correct">
                    <input type="checkbox">
                    <span class="fa fa-square-o"></span>
                    <span class="simpleListText">Christopher Columbus</span>
                </li>

                <li class="simpleListAnswer">
                    <input type="checkbox">
                    <span class="fa fa-square-o"></span>
                    <span class="simpleListText" value="{{ number }}">My grandma</span>
                </li>
                <li class="simpleListAnswer">
                    <input type="checkbox">
                    <span class="fa fa-square-o"></span>
                    <span class="simpleListText">Yes,please</span>
                </li>
                <li class="simpleListAnswer">
                    <input type="checkbox">
                    <span class="fa fa-square-o"></span>
                    <span class="simpleListText">Who's this on the phone again?</span>
                </li>
            </ul><!--end simpleList-->

            <h2>Who discovered America?</h2>
            <ul class="simpleList">
                <li class="simpleListAnswer correct">
                    <input type="checkbox">
                    <span class="fa fa-square-o"></span>
                    <span class="simpleListText" >Christopher Columbus</span>
                </li>

                <li class="simpleListAnswer">
                    <input type="checkbox">
                    <span class="fa fa-square-o"></span>
                    <span class="simpleListText">My grandma</span>
                </li>
                <li class="simpleListAnswer">
                    <input type="checkbox">
                    <span class="fa fa-square-o"></span>
                    <span class="simpleListText" value="{{ number }}">Yes,please</span>
                </li>
                <li class="simpleListAnswer">
                    <input type="checkbox">
                    <span class="fa fa-square-o"></span>
                    <span class="simpleListText">Who's this on the phone again?</span>
                </li>
            </ul><!--end simpleList-->

            <h2>Who discovered America?</h2>
            <ul class="simpleList">
                <li class="simpleListAnswer correct">
                    <input type="checkbox">
                    <span class="fa fa-square-o"></span>
                    <span class="simpleListText">Christopher Columbus</span>
                </li>

                <li class="simpleListAnswer">
                    <input type="checkbox">
                    <span class="fa fa-square-o"></span>
                    <span class="simpleListText">My grandma</span>
                </li>
                <li class="simpleListAnswer">
                    <input type="checkbox">
                    <span class="fa fa-square-o"></span>
                    <span class="simpleListText">Yes,please</span>
                </li>
                <li class="simpleListAnswer">
                    <input type="checkbox">
                    <span class="fa fa-square-o"></span>
                    <span class="simpleListText" value="{{ number }}" name="test">Who's this on the phone again?</span>
                </li>
            </ul><!--end simpleList-->

            <h2>Who discovered America?</h2>
            <ul class="simpleList">
                <li class="simpleListAnswer correct">
                    <input type="checkbox">
                    <span class="fa fa-square-o"></span>
                    <span class="simpleListText" value="{{ number }}">Christopher Columbus</span>
                </li>

                <li class="simpleListAnswer">
                    <input type="checkbox">
                    <span class="fa fa-square-o"></span>
                    <span class="simpleListText">My grandma</span>
                </li>
                <li class="simpleListAnswer">
                    <input type="checkbox">
                    <span class="fa fa-square-o"></span>
                    <span class="simpleListText">Yes,please</span>
                </li>
                <li class="simpleListAnswer">
                    <input type="checkbox">
                    <span class="fa fa-square-o"></span>
                    <span class="simpleListText">Who's this on the phone again?</span>
                </li>
            </ul><!--end simpleList-->


        </div><!--end inner-->
    </div><!--end container-->
    </form>
    </body>
{% endblock %}